.buttonAdd{
    color: white;
    background-color: darkslategray;
}
tr{
    color: white; background-color: limegreen; font-size: 16px;
}
.td1{
    color: black;
    background: darkgrey;
}
table{
    background: limegreen;
}
.submitButton
{
    color: white;
    background: dodgerblue;
    font-size: 18px;
}
hr
{
    background-color: springgreen;
}